.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    'sidebar-a header header'
    'sidebar-a main sidebar-b'
    '. . .'
    'footer footer footer'
}

.header {
  grid-area: header;
}

.sidebar-a {
  grid-area: sidebar-a;
}

.sidebar-b {
  grid-area: sidebar-b;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
